{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
  
<style>
  #banner{
  background-image: url('rasmlar/about-banner.jpg');
  /*background-attachment: fixed;*/
  height: 200px;
  background-position: center right;
}
</style>
  

<div id="banner"  class="text-center text-gray">
  <div class="container py-5">
    <h1>Start Artikel haqida</h1>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing <br>elit,</p> -->
  </div>
</div>

<div id="about-info">
  <div class="container">
    <div class="row text-justify py-5">
      <div class="col-md-6">
        <h3>Start Artikel nima?</h3>
        <p>Start Artikel bu -  ilmiy ommabop maqolalarni nashr etuvchi sayt. Bu saytda ko'plab ilmiy yo'nalishlar 
        mavjud bo'lib ularning keng auditoriyaga ega.! Maqola chop etuvchi ilmiy jurnallar ham bor, lekin internet nashr bu jurnallardan farqli o'laroq jurnal chop etilishini kutib o'tirmasligida va nashr etilayotgan internet saytini juda ko'plab foydalanuvchilari bilan ustunlik qiladi. Start Artikel mana shunday internet saytlaridan biri.</p>
        <p>Start Artikelni yaratishdan maqsad hozirgi kunda maqola yozayotgan, ilmiy ishlar bilan shug'ullanayotgan yoxud ilmiy daraja olish uchun harakat qilayotgan insonlarni ishlarini ommaga taqdim qilishdan iborat! </p>
      </div>
      <div class="col-md-6">
        <img src="/static/rasmlar/ntn.jpg" class="img-fluid rounded-circle about-img" >
      </div>
    </div>
  </div>
</div>


<div id="about-icons" class="pb-5">
  <div class="container text-white text-center">
    <div class="row">
      <div class="col-md-4" >
        <div class="card bg-danger p-4">
          <i class="fas fa-dollar-sign fa-3x"></i>
          <h4>Maqbul narx</h4>
          <p class="m-0">Har bir maqola uchun arzon narxlar. Atiga 5$</p>
        </div>
      </div>

      <div class="col-md-4" >
        <div class="card bg-dark p-4">
          <i class="fas fa-users fa-3x"></i>
          <h4>Foydalanuvchilar</h4>
          <p class="m-0">Keng va sifatli auditoriyaga ega ekanligi</p>
        </div>
      </div>

      <div class="col-md-4" >
        <div class="card bg-danger p-4">
          <i class="far fa-newspaper fa-3x"></i>
          <h4>Qulaylik</h4>
          <p class="m-0">Maqolalarni chop etishdagi mukammal qulaylik</p>
        </div>
      </div>
    </div>
    <!-- <div class="row my-4">
      <div class="col-md-4" >
        <div class="card bg-dark p-4">
          <i class="fas fa-box fa-3x"></i>
          <h4>Sample Heading</h4>
          <p class="m-0">Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed do eiusmod
          tempor</p>
        </div>
      </div>

      <div class="col-md-4" >
        <div class="card bg-danger p-4">
          <i class="fas fa-credit-card fa-3x"></i>
          <h4>Sample Heading</h4>
          <p class="m-0">Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed do eiusmod
          tempor</p>
        </div>
      </div>

      <div class="col-md-4" >
        <div class="card bg-dark p-4">
          <i class="fas fa-coffee fa-3x"></i>
          <h4>Sample Heading</h4>
          <p class="m-0">Lorem ipsum dolor sit amet, consectetur  adipisicing elit, sed do eiusmod
          tempor</p>
        </div>
      </div> -->
    </div>
  </div>
</div>










{% endblock content %}
