{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
	

	

    <div id="banner">
    	<div class="img-banner">
    		
    	</div>
    </div>

<br><br><br>

	<div id="header">
		<div class="card">
			<div class="row">
				<div class="col-md-3">
					<div class="card-block">
						<div class="card-header bg-dark text-white">
							<h6 class="text-center">Mavzu:</h6>
							<p>Maktabgacha ta'limda innovatsion texnalogiyalar</p>
						</div>
						<div class="card-body">
							<p>Muallif:</p>
						</div>
						<div class="card-footer">
							<button class="btn btn-danger mt-2 btn-block">Maqolani o'qish</button>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-block">
						<div class="card-header bg-dark text-white">
							<h6 class="text-center">Mavzu:</h6>
							<p>Maktabgacha ta'limda innovatsion texnalogiyalar</p>
						</div>
						<div class="card-body">
							<p>Muallif:</p>
						</div>
						<div class="card-footer">
							<button class="btn btn-danger mt-2 btn-block">Maqolani o'qish</button>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-block">
						<div class="card-header bg-dark text-white">
							<h6 class="text-center">Mavzu:</h6>
							<p>Maktabgacha ta'limda innovatsion texnalogiyalar</p>
						</div>
						<div class="card-body">
							<p>Muallif:</p>
						</div>
						<div class="card-footer">
							<button class="btn btn-danger mt-2 btn-block">Maqolani o'qish</button>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-block">
						<div class="card-header bg-dark text-white">
							<h6 class="text-center">Mavzu:</h6>
							<p>Maktabgacha ta'limda innovatsion texnalogiyalar</p>
						</div>
						<div class="card-body">
							<p>Muallif:</p>
						</div>
						<div class="card-footer">
							<button class="btn btn-danger mt-2 btn-block">Maqolani o'qish</button>
						</div>
					</div>
				</div>
				<!-- <div class="col-md-2">
					<div class="card-block">
						<div class="card-header bg-dark text-white">
							<h4>Mavzu:</h4>
						</div>
						<div class="card-body">
							<p>Muallif</p>
						</div>
						<div class="card-footer">
							<button class="btn btn-danger mt-2 btn-block">Get it</button>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card-block">
						<div class="card-header bg-dark text-white">
							<h4>Mavzu:</h4>
						</div>
						<div class="card-body">
							<p>Muallif</p>
						</div>
						<div class="card-footer">
							<button class="btn btn-danger mt-2 btn-block">Get it</button>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	{% endblock content %}