{% extends 'wrapper.html' %}

{% block content %}
    

    

	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			text-decoration: none;
		}


.title{
	width: 100%;
	margin: 35px 0;
}
.title h1{
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	/*font-size: 45px;*/
}
.articel{
	width: 100%;
	text-align: justify;
}
.container{
	width: 65%;
	margin: 0 auto;
}
.articel .text{
	font-size: 21px;
	font-family: 'Titillium Web', sans-serif;
}
.book{
	width: 100%;
	/*text-align: center;*/
	margin: 20px 10px;
}
.book p{
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	color: #333;
}
.book ul{
	justify-content: space-around;
	padding: 5px;
}
.book ul li{
	padding: 1px;
	margin: 5px 50px;
	justify-content: space-around;
}
.foot{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
}
.foot .data{
	margin: 0 20%;

}
.foot button{
	margin: 0 20%;
	width: 200px;
	height: 5vh;
	float: right;
	background-color: #FF8F09;
	border: none;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 15px;
}
</style>


	<nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Start Artikel</label>
      <ul>
        <li><a class="active" href="index.html">Bosh sahifa</a></li>
        <li><a href="about.html">Haqimizda</a></li>
        <li><a href="#">O'zbekcha</a></li>
        <li><a href="../russkiy/index.html">Русскый</a></li>
        <!-- <li><a href="#">Feedback</a></li> -->
      </ul>
    </nav>


	<div class="title">
		<h1><!-- Mavzu nomi --> Kids Club САЙТИ: ЛОЙИҲА МАЗМУНИ ВА ВАЗИФАЛАРИ</h1>
	</div>
	<div class="articel">
		<div class="container">
			<p class="text"><!-- maqola matni -->
			Мактабгача таълим муассасалари ўқитувчилари ҳар доим атрофдаги оламга сезгирлиги билан ажралиб турадилар. Зеро, умумий таълим амалиётининг ривожланиши мактабгача таълим тизимидаги барча ишчиларнинг ижодий, инновацион салоҳиятининг намоён бўлишига ёрдам беради. Бундай вазиятда касбий компетентлик айниқса муҳимдир, бу ўқитувчилар ва менежерларнинг шахсий ва касбий ривожланишига асосланади. Таълимни инновацион лойиҳалаш, инсон томонидан амалга оширилади ва амалиётга самарали қўлланилади, чунки инновацион фаолият ташкилотчилари илм-фан ютуқлари ва жамият эҳтиёжларига таянади.
Ҳозирги кунда инновацион трансформациялар соҳаси аллақачон мактабгача таълим муассасалари ва ўқитувчи-инноваторларни, деярли ҳар бир мактабгача таълим муассасасини қамраб олади. Замонавий бошланғич таълим жараёнида болаларни ривожлантирувчи характерга эга бўлган таълим тизими тадбиқ қилинади. Унда кичик мактаб ёшидаги болалар ўз ёш хусусиятлари ва тафаккур ҳамда руҳий тараққиёт даражалари ўзлаштириш имконини берадиган таълимий фаолиятга киришадилар. Бинобарин, бу фаолият ўқувчилар учун етакчи фаолият ҳисобланади. Кичик мактаб ёшидаги болаларда ўқиш ҳамда ўрганишга қаратилган фаолиятнинг шаклланишида, ҳар бир ўқув предмети бўйича назарий билимларни эгаллаш жараёнида уларнинг онги ва тафаккури жадал тарзда ривожланади. Бу онг ва тафаккур ўз характерига кўра назарий ҳамда илмий тушунчаларни ўзлаштириш натижасида вужудга келган онг ва тафаккур бўлиб, боланинг жадал тарзда тараққий этишини, дунёқарашининг ривожланишини таъминлайди. 
Мактаб ёшигача бўлган болалик – бу инсониятнинг ривожланишининг бошланғич даври бўлиб, бу даврда инсоният томонидан тан олинган умуминсоний қадриятлар билан дастлабки танишиш содир бўлади, бола ўзининг "мен" ини эгаллайди, индивидуаллик намоён бўлиш зарурлигини фаол англайди, шунингдек болалар жамоатчилиги болалар ижтимоийлашувининг биринчи институти сифатида шаклланган [2].
Мактабгача тарбия муассасаларининг таълим жараёнининг етакчи мақсадлари – мактабгача ёшдаги болаликни тўлақонли яшаш учун қулай шарт-шароитлар яратиш, шахснинг индувидуал маданияти асосларини шакллантириш, замонавий глобаллашган жамиятда ҳаётга, мактабда ўқишга тайёргарлик, руҳий ва жисмоний фазилатларни мос равишда ривожлантиришга қаратилган. Ушбу мақсадлар болалар фаолиятининг турлари (ўйин, мулоқот, меҳнат, билим, мусиқий ва бадиий ўқиш) жараёнида амалга оширилади.

		</p>

		<div class="foot">
			<div class="znz">
				<p class="data">03.11.2021</p>
			</div>
			<button>Yuklab olish</button>
			<p>Muallif: <span>Azizbek Jo'rayev</span></p>
		</div>
	</div>
</div>

<!-- bu qismda joylangan sanasi turadi -->


	<div class="book">
		<p class="adr">Foydalanilgan adabiyotlar</p>
		<ul type="1" start="1">
		<li>1.	Атутов П.Р. Педагогика трудового становления учащихся: содержательно-процессуальные основы. Избранные труды в 2-х томах / Под ред. Г.Н. Никольской. – М.: Издат. фирма «Кумир», 2001. – Т. 1–2.</li>
	</ul>
	</div>
<script type="text/javascript">
let dropdowns = document.querySelectorAll('.navbar .dropdown-toggler')
let dropdownIsOpen = false

// Handle dropdown menues
if (dropdowns.length) {
  dropdowns.forEach((dropdown) => {
    dropdown.addEventListener('click', (event) => {
      let target = document.querySelector('#' + event.target.dataset.dropdown)

      if (target) {
        if (target.classList.contains('show')) {
          target.classList.remove('show')
          dropdownIsOpen = false
        } else {
          target.classList.add('show')
          dropdownIsOpen = true
        }
      }
    })
  })
}

// Handle closing dropdowns if a user clicked the body
window.addEventListener('mouseup', (event) => {
  if (dropdownIsOpen) {
    dropdowns.forEach((dropdownButton) => {
      let dropdown = document.querySelector('#' + dropdownButton.dataset.dropdown)
      let targetIsDropdown = dropdown == event.target

      if (dropdownButton == event.target) {
        return
      }

      if ((!targetIsDropdown) && (!dropdown.contains(event.target))) {
        dropdown.classList.remove('show')
      }
    })
  }
})

// Open links in mobiles
function handleSmallScreens() {
  document.querySelector('.navbar-toggler')
    .addEventListener('click', () => {
    let navbarMenu = document.querySelector('.navbar-menu')

    if (navbarMenu.style.display === 'flex') {
      navbarMenu.style.display = 'none'
      return
    }

    navbarMenu.style.display = 'flex'
  })
}

handleSmallScreens()</script>
{% endblock content %}